# xcode noise
*/build/*
*/*.pbxuser
*/*/*.pbxuser
*/*.mode1v3
*/*/*.mode1v3

# old skool
.svn

# osx noise
.DS_Store
profile

# vim noise
*~
*/*~
*/*/*~
*/*/*/*~
*swp
*/*swp
*/*/*swp
*/*/*/*swp

#python build output
*pyc
*/*pyc
*/*/*pyc
*/*/*/*pyc

#webserver stuff
#.htaccess
#mysite.fcgi

# db dump
*dump

# maven build output
target
